<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<meta
			name="Description"
			content="Ideation -> Combine random words from a variety of categories. 💡"
		/>
		<meta name="theme-color" content="#0172d5" />
		<title>Ideation</title>
		<link rel="stylesheet" href="style.css" />
		<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
	</head>
	<body>
		<div id="app" :class="{hideSidepanel: hideSidepanel}">
			<div id="settings">
				<div id="settingsScroll">
					<button
						class="toggle"
						@click="sidepanelToggle = !sidepanelToggle"
					>
						<span class="icon">⇽</span>
					</button>
					<h3>
						New name
						<button @click="getNames" class="randomAll">
							↺
						</button>
					</h3>
					<h3>
						Randomize
						<button @click="randomAll" class="randomAll">
							↺
						</button>
					</h3>
					<h3>Categories</h3>
					<ul id="activator">
						<li v-for="wordlist in wordlists">
							<label>
								<input
									type="checkbox"
									v-model="wordlist.active"
								/>
								<span
									class="checkbox"
									:class="{active :wordlist.active}"
								>
									<span></span>
								</span>
								<span>{{ wordlist.name }}</span>
							</label>
						</li>
					</ul>
					<label>
						<h3>Words pr. category</h3>
						<input type="text" v-model.number="randomAmount" />
					</label>
				</div>
			</div>
			<h1 id="newName">
				<div id="newNameIcon"><img :src="icon" /></div>
				<div id="newNameName">{{ name }}</div>
			</h1>
			<div class="h3 align-right">
				New name
				<button @click="getNames" class="randomAll">
					↺
				</button>
			</div>
			<ul id="lists">
				<li v-for="wordlist in randomWordlists" class="wordlist">
					<h4>
						<span class="name">{{ wordlist.name }}</span
						><button
							@click="randomFromList(wordlist)"
							class="randomNumBtn"
						>
							↺
						</button>
					</h4>
					<ul v-if="!wordlist.isColor">
						<li v-for="word in wordlist.filtered">{{ word }}</li>
					</ul>
					<ul v-else class="color">
						<li v-for="word in wordlist.filtered">
							<span
								class="color-swatch"
								:style="{background: word.color}"
							></span>
							<span class="color-title">{{
								word.name.toLowerCase()
							}}</span>
						</li>
					</ul>
				</li>
			</ul>
		</div>

		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="script.js"></script>
	</body>
</html>
