@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');
@import url('https://fonts.googleapis.com/css?family=Barlow:700');

@xxl: ~'(min-width: 1200px)';
@xl: ~'(min-width: 992px) and (max-width: 1199px)';
@l: ~'(min-width: 768px) and (max-width: 991px)';
@m: ~'(min-width: 551px) and (max-width: 767px)';
@s: ~'(min-width: 321px) and (max-width: 550px)';
@xs: ~'(max-width: 320px)';

@primary: #0172d5;

body {
	font-family: 'Roboto', sans-serif;
	// margin: 30px;
	margin: 0;
}
* {
	box-sizing: border-box;
}
#app {
	margin-right: 300px;
	transition: 0.2s ease-out;
	&.hideSidepanel {
		margin-right: 0;
	}
}
#settings {
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	bottom: 0;
	width: 300px;
	background-color: #f4f4f4;
	font-size: 20px;
	transition: transform 0.2s ease-out;

	ul {
		margin: 0 0 10px;
	}
	.toggle {
		position: absolute;
		top: 20px;
		left: 0;
		transform: translateX(-100%);
		transition: transform 0.2s ease-out, opacity 0.2s ease-out;
		background: #585858;
		color: white;
		width: 40px;
		height: 35px;
		font-size: 22px;
		border: none;
		border-radius: 100px 0 0 100px;
		opacity: 1;
		&:hover {
			background: #2900d6;
		}
		.icon {
			transform: rotate(180deg);
			display: block;
		}
		@media (min-width: 1000px) {
			opacity: 0;
			pointer-events: none;
		}
	}
	.hideSidepanel & {
		transform: translateX(100%);
		.toggle {
			transform: translateX(-100%);
			.icon {
				transform: rotate(0);
			}
		}
	}
	#settingsScroll {
		overflow-y: auto;
		padding: 10px 30px 30px;
		height: 100%;
	}
}
.title {
	margin: 15px 0 10px;
	font-weight: 500;
}
input[type='text'],
input[type='numbers'] {
	width: 100%;
	display: block;
	padding: 10px 20px;
	font-size: 20px;
	border: 1px solid #c8c8c8;
	border-radius: 3px;
	text-align: right;
}
.align-right {
	@media @xxl, @xl, @l {
		display: none;
	}
	@media @m, @s, @xs {
		text-align: right;
		padding-right: 15px;
	}
}
#newName {
	text-align: center;
	text-transform: capitalize;
	padding: 150px 0;
	margin: 0 0 30px 0;
	font-size: 65px;
	@media @m, @s, @xs {
		font-size: 40px;
		padding: 100px 20px;
		height: calc(100vh - 100px);
	}
	color: white;
	color: #343434;
	background: #0031ff;
	background: linear-gradient(-135deg, #00f094, #000da6);
	background: linear-gradient(-135deg, #fff86b, #41d3ff);
	// font-family: 'Barlow', sans-serif;
	font-weight: 400;
	display: flex;
	flex-direction: column;
	#newNameIcon img {
		width: 150px;
	}
}
#activator {
	list-style: none;
	padding: 0;
	label {
		padding: 0;
		display: block;
		> span {
			vertical-align: middle;
		}
	}
	input[type='checkbox'] {
		opacity: 0;
		position: absolute;
		&:focus {
			+ span {
				border-color: #0096ed;
				background: #eaf7ff;
				span {
					border-color: #0096ed;
				}
			}
			~ span {
				color: #0096ed;
			}
		}
	}
	.checkbox {
		width: 18px;
		height: 18px;
		margin-right: 10px;
		border: 1px solid #c8c8c8;
		display: inline-block;
		border-radius: 3px;
		background: white;
		overflow: hidden;
		span {
			transition: opacity 0.2s ease-out, transform 0.25s ease-out;
			opacity: 0;
			transform: translate(5px, 7px) rotate(45deg);
			width: 5px;
			height: 9px;
			border: 2px solid black;
			border-top: none;
			border-left: none;
			display: block;
		}
		+ span {
			opacity: 0.5;
			transition: opacity 0.2s ease-out;
		}
		&.active {
			+ span {
				opacity: 1;
			}
			span {
				opacity: 1;
				transform: translate(5px, 2px) rotate(45deg);
			}
		}
	}
}

h3,
.h3 {
	font-size: 20px;
	font-weight: 500;
	margin: 20px 0 7px;
}

h4 {
	font-size: 17px;
	font-weight: 500;
	margin: 0 0 7px;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: @primary;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0 0 15px 0;
	li {
		font-size: 20px;
		line-height: 1.3em;
		margin-bottom: 5px;
	}
}

.color {
	text-transform: capitalize;
	> li {
		margin-bottom: 5px;
	}
}
.color-swatch {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 3px;
	border-radius: 1000px;
	vertical-align: middle;
}
.color-title {
	vertical-align: middle;
}

#lists {
	margin: 30px;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.randomNumBtn,
.randomAll {
	border-radius: 100px;
	swidth: 25px;
	height: 25px;
	margin-left: 6px;
	vertical-align: middle;
	text-align: center;
	border: none;
	background: #f4f4f4;
	font-size: 15px;
	&:hover,
	&:focus,
	&:active {
		background: #2900d6;
		color: white;
	}
}
.wordlist {
	margin: 0;
}

.randomAll {
	background: @primary;
	color: white;
	font-size: 19px;
	opacity: 1;
	width: 80px;
	height: 35px;
}
